yourdomain.com {
	root * /var/www/filmfestival
	encode zstd gzip
	file_server {
		hide /var/www/filmfestival/.git /var/www/filmfestival/.github /var/www/filmfestival/deploy /var/www/filmfestival/.env*
	}
	log {
		output stdout
		format console
	}
}
